.navbar {
  padding: 0;
}

.navbar-links {
  display: flex;
  list-style: none;
  background-color: hsl(227, 40%, 20%);
  margin: 0;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 40px 40px;
  display: flex;
  text-align: center;
  transition: color 0.3s;
}
.navbar-links a:hover {
  color: grey;
}

/* .navbar {
  display: flex;
  background-color: hsl(227, 40%, 20%);
  position: relative;
  top: 0px;
  width: 100%;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
  transition: color 0.3s;
}
.navbar a:hover {
  color: grey;
}

.navbar li {
  margin: 15;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.right-align-login {
  float: ;
} */
